* {
    margin: 0;
    padding: 0;
}
#main-container {
    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-rows: 150px 180px 536px 116px;
}
#sidebar {
    display: grid;
    background-color: blue;
    grid-row: 1 / 5;
    align-items: start;
    padding-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
#sidebar .logo {
    padding-right: 15px;
}
ul {
    list-style-type: none;
    display: inline-grid;
    justify-content: center;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}
li {
    display: flex;
    align-items: center;
}
#header {
    display: grid;
    background-color: aquamarine;
    padding-left: 20px;
}
#top {
    display: grid;
    grid-template-columns: 673px 226px;
}
#bottom {
    display: grid;
    grid-template-columns: 55px 621px 177px;
    align-items: center;
}
#left {
    display: grid;
    grid-template-columns: 51px 361px;
    align-items: center;
}
#right {
    display: grid;
    grid-template-columns: 37px 85px 75px;
    align-items: center;
    justify-items: center;
}
#buttons {
    display: grid;
    grid-template-rows: 30px;
    grid-auto-flow: column;
    gap: 10px;
}
#main {
    display: grid;
    justify-items: center;

}
#projects-container {
    background-color: pink;
}
#announcements-container {
    background-color: burlywood;
}
#trending-container {
    background-color: azure;
}
.logo {
    width: 40px;
    height: 40px;
}
.image {
    width: 50px;
    height: 50px;
}
.logo2 {
    width: 20px;
    height: 20px;
}