* {
    margin: 0;
    padding: 0;
}
#main-container {
    display: grid;
    grid-template-columns: 300px 900px;
}
#sidebar {
    display: grid;
    background-color: #0c4a6e;
    grid-row: 1 / 5;
    align-items: start;
    padding-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
#sidebar .logo {
    padding-right: 15px;
}
ul {
    list-style-type: none;
    display: inline-grid;
    justify-content: center;
    grid-template-rows: repeat(12, 60px);
}
li {
    display: flex;
    align-items: center;
}
#header {
    background-color: white;
    
}
input {
    border-radius: 10px;
    height: 26px;
    background-color: #f0f9ff;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 1px 1px #ccc;
    letter-spacing: 2px;
    box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}
input:focus {
    background-color: lightblue;
}
#top {
    display: grid;
    grid-template-columns: 673px 206px;
    padding: 10px;
}
#left {
    display: grid;
    grid-template-columns: 51px 361px;
    align-items: center;
}
#right {
    display: grid;
    grid-template-columns: 37px 85px 75px;
    align-items: center;
    justify-items: center;
}
#bottom {
    display: grid;
    grid-template-columns: 55px 497px 308px;
    grid-template-rows: 50px;
    align-items: center;
    padding: 10px;
}
#buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
button {
    background-color: #34d399;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}
#main {
    display: grid;
    grid-auto-flow: column;
}
#main-left {
    display: grid;
    grid-template-rows: 7px 801px;
    background-color: #f0f9ff;
    padding: 20px;
    gap: 20px;
}
#main-right {
    display: grid;
    grid-template-rows: 7px 352px 7px 401px;
    background-color: #f0f9ff;
    padding: 20px;
    gap: 20px;
}
#projects-container {
    display: grid;
    grid-template-columns: 270px 270px;
    gap: 20px;
}
.projects {
    background-color: white;
    padding: 20px;
    border: solid 6px transparent;
    border-left-color: #34d399;
    display: grid;
    border-radius: 15px;
    box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}
.logos {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 15px;
}

#announcements {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    padding: 20px;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}
.announcement {
    display: grid;
    grid-template-rows: 20px;
    align-content: center;
}
#line1 {
    border-bottom-style: solid;
    border-bottom-color: #34d399;
}
#line2 {
    border-bottom-style: solid;
    border-bottom-color: #34d399;
}

#trending-container {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(4, 90px);
    gap: 8px;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}
.trending {
    display: grid;
}
.logo {
    width: 40px;
    height: 40px;
}
.image {
    width: 50px;
    height: 50px;
}
.logo2 {
    width: 20px;
    height: 20px;
}
.bold, button {
    font-weight: bold;
}
a { 
    color: inherit; 
    text-decoration:none; 
}
a:hover, li:hover, img:hover, .trending .bold:hover, h3:hover, h4:hover, button:hover {
    color:#34d399; 
    cursor:pointer;  
}
.announcement p, .projects p {
    cursor: pointer;
}