* {
    margin: 0;
    padding: 0;
}
#main-container {
    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-rows: 100px 100px 500px 100px;
}
#sidebar {
    display: grid;
    background-color: blue;
    grid-row: 1 / 5;
    align-items: start;
    padding-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
#sidebar .logo {
    padding-right: 15px;
}
ul {
    list-style-type: none;
    display: inline-grid;
    justify-content: center;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}
li {
    display: flex;
    align-items: center;
}
#header {
    display: grid;
    background-color: aquamarine;
    justify-items: center;
    justify-content: center;
    grid-column: 2 / 4;
    gap: 30px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}
#top {
    display: grid;
}
#bottom {
    display: grid;
}
#main {
    display: grid;
    justify-items: center;

    background-color: red;
}
.logo {
    width: 40px;
    height: 40px;
}
.image {
    width: 50px;
    height: 50px;
}
.logo2 {
    width: 20px;
    height: 20px;
}